lex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .btn{
        padding: 3px 13px;
        color: white;
        background-color: var(--main-bg-color);
        border: 2px solid white;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    
    }
    .my-1{
        margin: 5px;
    }
    .my-2{
        margin: 24px 0;
    }
    .text-center{
        text-align: center;
    }